* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* APPLY NOW PROMO TOP */
.applyNow {
    border: solid royalblue;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #09507C;
    color: #fff;
}
.applyMid {
    border: solid salmon;
    display: flex;

    text-align: center;
}
.iconRight{
    border: solid red;
    position: absolute;
    width:50px;
    height:60px;
    right: 0;
    display: flex;
    justify-content: flex-end;
}
.iconClose {
    border: solid purple;
    height: 50%;
    margin: 10px 10px 0 0;
}
.career {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    padding: 10px 10px 10px 10px;
}
.apply {
    background-color: rgb(254, 193, 79);
    border: .2px solid #000;
    height: 35px;
    font-size: 16px;
    font-weight: bolder;
    margin: 10px 0 0 10px;
}

/* NAVBAR */
.navBar {
    border: solid lime;
    height: 100px;
    width: 100%;
    display: flex;
}
.logo {
    border: solid orange;
    padding-top: 8px;
    float: left;
    margin-top: 22px;
    margin-left: 70px;
    height: 50px;
}
.perScholas {
    width: 292px;
    height: 100%;
}
/* list */
.navList {
    border: solid violet;
    display: flex;
    height: 30px;
    margin: 35px 0 0 70px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}
.list {
    display: flex;
    list-style: none;
    gap: 52px;
}
.search {
    margin-top: -2px;
}
/* hamburger */
.hamburger {
    border:solid salmon;
    height: 50px;
    margin-right: 30px;
    text-align: center;
    display: none;
}
.menu {
    height: 100%;
}
.hamburger p{
    margin-top: -10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

/* top pics */
.top {
    border: solid royalblue;
    display: flex;
    width: 100%;
    height: 100vh;
}
.topLeft {
    border:solid green;
    width:50%;
    height:75%;
}
.topRight{
    border: solid yellow;
    width:50%;
    height:75%;
}
.topPic {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.topDesc{
    width: 30%;
}


/* MOBILE SIZE */
@media (max-width: 414) {
    .hamburger {
        position: absolute;
        right: 0;
    }
    .apply {
        width: 50%;
    }
}